body{
    text-transform:capitalize;
    background-image:url("2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding-left:40px;   
}

header{
    display:flex;
}

h2{
    padding:0px  400px 0px 0px;
    font-style:italic;
    font-size:2.5em;
}

div{
    padding-top: 47px;
    font-size: 1.2em;
    
    text-decoration: none;
}

.l1{
    margin-right: 40px;
    border:solid black;
    border-radius: 10px;
    background-color:black;
    color:white;
    text-decoration: none;
    padding: 4px 5px 4px 5px;
}
    
.l2{
    margin-right: 40px;
    border:solid black;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 4px 5px 4px 5px;
}

.l3{
    margin-right: 40px;
    border:solid black;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 4px 5px 4px 5px;
}

.l4{
    margin-right: 40px;
    border:solid black;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 4px 5px 4px 5px;
}

main{
    
    padding-top: 28px;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 25px;
    word-spacing:1.6px ;
    padding-bottom: 80px;
   
}

#res{
    text-decoration: none;
    border:solid white;
    border-radius: 10px;
    color:white;
    background-color:black;
    padding:6px 8px 6px 8px;
}

#l1{padding-right: 30px;}
    
#l2{padding-right: 30px;}

#l3{padding-right: 30px;}

#l4{padding-right: 30px;}

#l5{padding-right: 30px;}

